@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background: #B9E9FC;
}

.page{
    height: 1340px;
    width: 50%;
    background: rgb(255, 255, 255);
    left: 25%;
    margin-top: 4%;
    position: absolute;
}

.name{
    height: 250px;
    width: 100%;
    margin-top: 6%;
    background: #bab9b9;
    position: absolute;
}

.name_me{
    position: inherit;
    margin-left: 42.5%;
    margin-top: 3%;
    font-size: 275%;
    font-family: 'Secular One', sans-serif;
}

.post{
    position: inherit;
    margin-left: 42.5%;
    margin-top: 19%;
    font-family: 'Josefin Sans', sans-serif;
}

.about{
    height: 536.2%;
    width: 35%;
    margin-left: 30px;
    margin-top: -69px;
    background: cadetblue;
    position: absolute;
}

.circle{
    width: 260px;
    height: 260px;
    background-color: white;
    margin-top: 15%;
    margin-left: 6%;
    border-radius: 50%;
    position: absolute;
}

.profile{
    width: 255px;
    height: 255px;
    margin-top: 1%;
    margin-left: 1%;
    background-image: url(../Imagenes/Perfil.png);
    background-size: cover;
    border-radius: 50%;
}

.about-me{
    position: inherit;
    margin-left: 8%;
    margin-top: 118%;
    font-size: 150%;
    font-family: 'ABeeZee', sans-serif;
}

.contact{
    position: inherit;
    margin-left: 8%;
    margin-top: 190%;
    font-size: 150%;
    font-family: 'ABeeZee', sans-serif;
}

.info{
    position: inherit;
    font-size: 100%;
    margin-left: 6%;
    margin-right: 6%;
    margin-top: 130%;
    text-align: justify;
}

.img-phone{
    position: inherit;
    margin-top: 205%;
    margin-left: 3%;
}

.me{
    position: inherit;
    margin-top: 205%;
    margin-left: 18%;
}

.email{
    position: inherit;
    margin-top: 220%;
    margin-left: 18%;
}

.correo{
    position: inherit;
    margin-top: 220%;
    margin-left: 3%;
}

.location{
    position: inherit;
    margin-top: 235%;
    margin-left: 3%;
}

.dir{
    position: inherit;
    margin-top: 235%;
    margin-left: 18%;
}

.link{
    position: inherit;
    margin-top: 260%;
    margin-left: 3%;
}

.lnk{
    position: inherit;
    margin-top: 260%;
    margin-left: 18%;
    text-decoration: none;
    color: black;
}

.git{
    position: inherit;
    margin-top: 280%;
    margin-left: 3%;
}

.hub{
    position: inherit;
    margin-top: 280%;
    margin-left: 18%;
    text-decoration: none;
    color: black;
}

#tools{
    position: inherit;
    margin-top: 295%;
    margin-left: 3%;
    font-size: 150%;
    font-family: 'ABeeZee', sans-serif;
}

#tech{
    position: inherit;
    margin-top: 305%;
    margin-left: 5%;
    font-size: 100%;
    font-family: 'ABeeZee', sans-serif;
    list-style-type: none;
}

.percent{
    position: relative;
    width: 100%;
    height: 6px;
    background: #000;
    display: block;
} 

.percent div{
    position: relative;
    height: 100%;
    background: #B9E9FC;
}

.percent p{
    font-size: 100%;
    margin-left: 115%;
    font-family: 'ABeeZee', sans-serif;
    margin-top: -10%;
}

.info_extends{
    width: 58%;
    height: 76%;
    border: 1px solid black;
    position: inherit;
    margin-top: 38%;
    margin-left: 40%;
}

#education{
    border: 1px solid black;
    margin-top: 5px;
    width: 100%;
    height: 15%;
}

#arrow{
    background-image: url(../Imagenes/flecha-correcta.png);
    border: 1px solid black;
    height: 15%;
    width: 5%;
}